# Ignore build output directories
[Bb]in/
[Oo]bj/
x64/Debug/
x64/Release/

# Ignore the packages directory
packages/

# Ignore Visual Studio-specific files and directories
.vs/
*.suo
*.user
*.log

# Ignore compiled files
*.exe
*.dll
*.pdb

# Ignore temporary files
~* 